import { {{ClientComponentName}} } from "./{{clientComponentFile}}";

export default async function {{PageComponentName}}() {
  const [shortTerm, mediumTerm, longTerm] = await Promise.all([
    {{fetchShortTermExpression}},
    {{fetchMediumTermExpression}},
    {{fetchLongTermExpression}},
  ]);

  return (
    <{{ClientComponentName}}
      {{dataPropName}}={{
        short_term: shortTerm,
        medium_term: mediumTerm,
        long_term: longTerm,
      }}
    />
  );
}

